{% extends "layout.html" %}

{% block title %}
    登録削除 -
{% endblock %}

{% block main %}
    <div class="subscribe-wrapper">
      <p>登録削除</p>
    </div>
    <form action="/delete" method="post">
      <div class="form-group">
        <label for="email">メール</label>
        <input class="form-control" name="email" type="email" id="email">
      </div>
      <div class="form-group">
        <label for="password">パスワード</label>
        <input class="form-control" name="password" type="password" id="password">
      </div>
      <input class="button submit" type="submit" value="削除する">
    </form>
{% endblock %}
